* {
            box-sizing: border-box;
            text-decoration: none;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	        scroll-behavior: smooth;
        }

        body {
            margin: 0;
            background-color: #222;
            color: #fff;
            font-family:Montserrat, "Montserrat Alternates", "Montserrat Alternates Black", "Montserrat Black", "Montserrat ExtraBold", "Montserrat Light", "Montserrat Medium", "Montserrat SemiBold", "Montserrat Thin"
        }



  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: #dda83e;
    font-size: 20px;
    margin-left: 20px;
}

nav {
    font-size: 18px;
    display: flex;
    flex-grow: 1; 
    justify-content: center; 
}

nav a {
    padding: 15px;
    color: rgba(106,106,106,1.00);
    text-align: center;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #dda83e;
}
.home{
	background-image: url("../images/Untitled-1-01-01.png");
	background-size: cover;
	background-position: center;
}
      



        .home {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            height: 100vh;
            padding-top: 50px; 
        }

        .intro {
            max-width: 600px;
            margin-right: 50px; 
			
        }

.homecontent{
	padding-bottom:350px;
}

        .nameone {
            font-size: 35px; 
            margin-bottom: 10px;
            color: #FFFFFF; 
        }

        .name{
			font-size: 50px;
            color: #dda83e;
        }
.about h1,.skills h1,.work h1, .contact h1{
			font-size: 50px;
            color: #dda83e;
        }


        h2 {
            font-size: 26px;
            margin-bottom: 30px;
            color: #dda83e; 
        }

        .btn1 a{
            background-color: #222222;
            color: #DDA83E;
            padding: 8px 20px;
            font-size: 18px;
            cursor: pointer;
            border: 2px solid rgba(221,168,62,1.00);
            border-radius: 6px;
			max-width: 160px;
        }

        .btn1:hover {
            opacity: 0.7;
        }
.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
    justify-content: space-between; 
	
}

.col {
    flex: 1 1 48%; 
    padding: 15px;
    margin: 10px;
    box-sizing: border-box; 
}

.col img {
    max-width: 400px; 
    height: auto;
	
	
}


.about p{
	 font-size: 18px;
}
       
        
        .skills,
        .contact{
            padding:100px 200px;
            text-align:left;
			line-height:30px;
            margin-top: 10px; 
        }
.work {
            padding:100px 200px;
            text-align:center;
			line-height:30px;
            margin-top: 10px; 
        }
.work h3{
	font-size:30px;
}
    .about{
            padding:150px 90px 100px 200px;
            text-align:left;
			line-height:30px;
            margin-top: 10px; 
        }
.skills{
         text-align:center;
			
        }
.myimage img {
	max-height: 50%;
}

        .work img {
            max-width: 100%;
            height: auto;
        }

        .work-gallery {
            overflow: hidden;
            white-space: nowrap;
            margin-top: 20px;
        }

        .work-gallery img {
            width: 100%;
            height: auto;
            display: inline-block;
        }

        .work-arrow {
            font-size: 30px;
            cursor: pointer;
        }

        .contact form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }

        .contact input,
        .contact textarea {
            width: 100%;
            font-size: 15px;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 4px;
            background-color: #333;
            color: #fff;
        }

        .contact .submit {
            background-color: #dda83e;
            color: #000;
            font-size: 18px;
            border: none;
            padding: 15px 20px;
            border-radius: 4px;
            cursor: pointer;
        }

        .contact .submit:hover {
            opacity: 0.7;
        }

        .skills .row {
            justify-content: center; 
        }

        .skills-icons img {
            width: 100px; 
            height: 100px;
            margin: 10px;
            transition: transform 0.3s ease-in-out;
			
        }

        .skills-icons img:hover {
            transform: scale(1.2);
        }

.work-arrow {
  font-size: 60px;
  cursor: pointer;
  color: #dda83e;
}

.work-arrow:hover {
  opacity: 0.7;
}


.work:hover .work-controls {
  opacity: 1;
}

.work img {
  max-width: 100%;
  height: auto;
  display: none; 
}


.work-gallery {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
  position: relative;
}

.work-gallery img {
  width: 100%;
  height: auto;
  display: inline-block;
}


.work {
  position: relative;
}

.directional-line {
    position: absolute;
    top: -119px;
    padding-top: 100px;
    right: 16px;
    height: 10%;
    width: 2px;
    background-color: #dda83e;

    
}


.social-icons {
    position: absolute;
    bottom: 20px;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-icons img {
    max-width: 28px;
}

.social-icon {
    margin-bottom: 10px;
}


.homecontent {
    margin-left: 20px; 
}

.intro {
    max-width: 600px;
    margin-right: 1000px; 
}
.work2 {
    margin-top: 50px; 
}


  .work-controls,
        .work-controls2 {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 100px;
            box-sizing: border-box;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .work-arrow {
            font-size: 60px;
            cursor: pointer;
            color: #dda83e;
            position: relative;
            z-index: 2;
        }

        .work-arrow.prev::before,
        .work-arrow.next::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #000;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .work-arrow:hover::before {
            opacity: 0.5;
        }

        
        .work:hover .work-controls,
        .work2:hover .work-controls2 {
            opacity: 1;
        }

        .work img,
        .work2 img {
            max-width: 100%;
            height: auto;
            display: none; 
        }

        
        .work-gallery,
        .work-gallery2 {
            overflow: hidden;
            white-space: nowrap;
            margin-top: 20px;
            position: relative;
        }

        .work-gallery img,
        .work-gallery2 img {
            width: 100%;
            height: auto;
            display: inline-block;
        }

        .work:hover .work-gallery img,
        .work2:hover .work-gallery2 img {
            animation: slideshow 24s linear infinite; 
        }

        @keyframes slideshow {
            0%, 100% {
                transform: translateX(0);
            }
            16.666% {
                transform: translateX(-100%);
            }
            33.333% {
                transform: translateX(-200%);
            }
            50% {
                transform: translateX(-300%);
            }
            66.666% {
                transform: translateX(-400%);
            }
            83.333% {
                transform: translateX(-500%);
            }
        }

footer{
	background-image: url("../images/footer-01.png");
	background-size: cover;
	background-position: center;
	padding-top:460px;
	padding-bottom:200px;
}

.sent{
	color:white;
	padding:20px 70px;
	font-size: 20px;
	background-color: #222;
}
.top{
	max-width: 40px;
		position:fixed;
		right:100px;
	bottom:30px;
}

@media (min-width: 501px) and (max-width: 800px) {
    .homecontent {
        padding-bottom: 30px; 
    }
	.intro{
		margin-right: 0;
	}

    .work,
    .work2 {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 500px){
    .social-icons{
        margin-right: 10px;
		margin-bottom: -350px;
		padding-top: 100px;
	}
	.intro{
		margin-right: 0;
	}
	
	header{
		flex-direction: column;
		
	}
	nav{
		display: block;
  	 	width: 100%;
	}
	nav a {
		display: block;
		text-align: center;
	}
    .footer {
        padding-top: 50px; 
        padding-bottom: 50px;
    }
	.row{
		max-width: 85vw;
	}
	
	.logo{
		margin-left: 0;
	}
	.homecontent{
		margin-left: 0;
		max-width: 90vw;
	}
	.about img{
		max-width: 100%;
	}
	
    .about, .skills, .work, .work2, .contact {
        padding: 30px 15px; 
    }

    .home h2 {
        font-size: 22px; 
    }
}
